	<div id="jqm-navmenu-panel" data-role="panel" class="jqm-navmenu-panel" data-position="left" data-display="overlay" data-theme="a">
<ul class="jqm-list ui-alt-icon ui-nodisc-icon">
	<li data-filtertext="Easygard Homepage" data-icon="home"><a href="/" data-ajax="false">Home</a></li>
	<li data-filtertext="Armor rating plate chain leather cloth" data-icon="none"><a href="/armor/" data-ajax="false">Armor</a></li>
	<li data-filtertext="Classes Melee Caster Spell Knight" data-icon="bullets"><a href="/classes/" data-ajax="false">Classes</a></li>
	<li data-filtertext="Combat" data-icon="none"><a href="/combat/" data-ajax="false">Combat</a></li>
	<li data-filtertext="List Spells Abilities Search" data-icon="bullets"><a href="/spells/" data-ajax="false">Spells & Abilities</a></li>
	<li data-filtertext="States Easy" data-icon="none"><a href="/states/" data-ajax="false">States</a></li>
	<li data-filtertext="Weapons" data-icon="none"><a href="/weapons/" data-ajax="false">Weapons</a></li>
	<li data-filtertext="about contact info author" data-icon="info"><a href="/about/" data-ajax="true">About</a></p></li>
</ul>
	</div><!-- /panel -->
