<!-- TODO: This should become an external panel so we can add input to markup (unique ID) -->
<div data-role="panel" class="jqm-search-panel" data-position="right" data-display="overlay" data-theme="a" >
  <div class="jqm-search">
    <ul class="jqm-list" data-filter-placeholder="Search Easygard..." data-filter-reveal="true">
      <% if defined?(loaded) && loaded=='false' %>
      <li data-filtertext="home page" data-icon="home"><a href="/">Home</a></li>
      <li data-filtertext="code conduct" data-icon="bullets"><a href="/codeofconduct/" data-ajax="false">Code of Conduct</a></li>
      <li data-filtertext="battlegame battle game phoenix ball tyler salvador league" data-icon="bullets"><a href="/phoenixball/" data-ajax="false">Phoenix Ball</a></li>
      <li data-filtertext="spells abilities magic ball enchantment" data-icon="bullets"><a href="/spells/" data-ajax="false">Spells & Abilities</a></li>
      <li data-filtertext="classes caster melee knight" data-icon="bullets"><a href="/classes/" data-ajax="false">Classes</a></li>
      <li data-filtertext="wizard caster class"><a href="/classes/#Wizard" data-ajax="false">Wizard</a></li>
      <li data-filtertext="druid caster class"><a href="/classes/#Druid" data-ajax="false">Druid</a></li>
      <li data-filtertext="bard caster class"><a href="/classes/#Bard" data-ajax="false">Bard</a></li>
      <li data-filtertext="healer caster class"><a href="/classes/#Healer" data-ajax="false">Healer</a></li>
      <li data-filtertext="archer melee class"><a href="/classes/#Archer" data-ajax="false">Wizard</a></li>
      <li data-filtertext="assassin melee class"><a href="/classes/#Assassin" data-ajax="false">Wizard</a></li>
      <li data-filtertext="barbarian melee class"><a href="/classes/#Barbarian" data-ajax="false">Wizard</a></li>
      <li data-filtertext="monk melee class"><a href="/classes/#Monk" data-ajax="false">Wizard</a></li>
      <li data-filtertext="scout melee class"><a href="/classes/#Scout" data-ajax="false">Wizard</a></li>
      <li data-filtertext="warrior melee class"><a href="/classes/#Warrior" data-ajax="false">Wizard</a></li>
      <li data-filtertext="paladin melee class"><a href="/classes/#Paladin" data-ajax="false">Paladin</a></li>
      <li data-filtertext="anti paladin melee class"><a href="/classes/#AntiPaladin" data-ajax="false">Anti-Paladin</a></li>
      <li data-filtertext="about contact info author future suggestions" data-icon="info"><a href="/about/" data-ajax="false">About</a></li>
      <li data-filtertext="armor synthetic cloth leather chainmail butted plate scale lamellar brigandine rating" ><a href="/armor/" data-ajax="false">Armor</a></li>
      <li data-filtertext="combat" ><a href="/combat/" data-ajax="false">Combat</a></li>
      <li data-filtertext="strike garb unwielded equipment combat" ><a href="/combat/#CombatNotes" data-ajax="false">Combat Notes</a></li>
      <li data-filtertext="hit location arm leg torso " ><a href="/combat/#HitLocations" data-ajax="false">Hit Locations</a></li>
      <li data-filtertext="inflicting wounds slash stab graze cut push" ><a href="/combat/#InflictingWounds" data-ajax="false">Inflicting Wounds</a></li>
      <li data-filtertext="death wound torso retrieve interfere target willing" ><a href="/combat/#Deaths" data-ajax="false">Deaths</a></li>
      <li data-filtertext="reeves decision responsibility rules" ><a href="/reeves/#ReevingMadeEasy" data-ajax="false">Reeving Made Easy</a></li>
      <li data-filtertext="reeves rules equipment check weapon armor shield safety" ><a href="/reeves/#EquipmentChecking" data-ajax="false">Equipment Checking</a></li>
      <li data-filtertext="magic sashes strips length width" ><a href="/reeves/#SashesStrips" data-ajax="false">Sashes and Strips</a></li>
      <li data-filtertext="shield construction" ><a href="/shields/" data-ajax="false">Shields</a></li>
      <li data-filtertext="states abilities magic special effects ball verbal immunity" ><a href="/states/#StatesMadeEasy" data-ajax="false">States Made Easy</a></li>
      <li data-filtertext="states cursed" ><a href="/states/#Cursed" data-ajax="false">Cursed</a></li>
      <li data-filtertext="states fragile" ><a href="/states/#Fragile" data-ajax="false">Fragile</a></li>
      <li data-filtertext="states frozen" ><a href="/states/#Frozen" data-ajax="false">Frozen</a></li>
      <li data-filtertext="magic definitions immune" ><a href="/spells/definitions#immune" data-ajax="false">Immune</a></li>
      <li data-filtertext="states insubstantial" ><a href="/states/#Insubstantial" data-ajax="false">Insubstantial</a></li>
      <li data-filtertext="states out of game" ><a href="/states/#OutOfGame" data-ajax="false">Out of Game</a></li>
      <li data-filtertext="states stopped" ><a href="/states/#Stopped" data-ajax="false">Stopped</a></li>
      <li data-filtertext="states suppressed" ><a href="/states/#Suppressed" data-ajax="false">Suppressed</a></li>
      <li data-filtertext="weapons" ><a href="/weapons/" data-ajax="false">Weapons</a></li>
      <li data-filtertext="weapon safety reeve champion" ><a href="/weapons/#WeaponSafety" data-ajax="false">Weapon Safety</a></li>
      <li data-filtertext="projectiles thrown rock ball" ><a href="/weapons/#Projectiles" data-ajax="false">Projectiles</a></li>
      <li data-filtertext="Bow archer scout" ><a href="/weapons/#Bow" data-ajax="false">Bow</a></li>
      <li data-filtertext="Bow archer scout arrow shaft" ><a href="/weapons/#Ammunition" data-ajax="false">Ammunition</a></li>
      <li data-filtertext="dagger weapon melee" ><a href="/weapons/#Dagger" data-ajax="false">Dagger</a></li>
      <li data-filtertext="short sword weapon melee" ><a href="/weapons/#Short" data-ajax="false">Short Sword</a></li>
      <li data-filtertext="long sword weapon melee" ><a href="/weapons/#Long" data-ajax="false">Long Sword</a></li>
      <li data-filtertext="great sword weapon melee" ><a href="/weapons/#Great" data-ajax="false">Great Sword</a></li>
      <li data-filtertext="madu sword shield weapon melee" ><a href="/weapons/#Madu" data-ajax="false">Madu</a></li>
      <li data-filtertext="hinged sword weapon flail" ><a href="/weapons/#Hinged" data-ajax="false">Hinged Weapon</a></li>
      <li data-filtertext="siege weapon" ><a href="/weapons/#Siege" data-ajax="false">Siege Weapon</a></li>
      <li data-filtertext="enchantment" ><a href="/enchantments/" data-ajax="false">Enchantments</a></li>
      <li data-filtertext="enchantment death" ><a href="/enchantments/death" data-ajax="false">Death Enchantments</a></li>
      <li data-filtertext="enchantment flame" ><a href="/enchantments/flame" data-ajax="false">Flame Enchantments</a></li>
      <li data-filtertext="enchantment protection" ><a href="/enchantments/protection" data-ajax="false">Protection Enchantments</a></li>
      <li data-filtertext="enchantment sorcery" ><a href="/enchantments/sorcery" data-ajax="false">Sorcery Enchantments</a></li>
      <li data-filtertext="enchantment spirit" ><a href="/enchantments/spirit" data-ajax="false">Spirit Enchantments</a></li>
      <li data-filtertext="enchantment red" ><a href="/enchantments/red" data-ajax="false">Red Strip Enchantments</a></li>
      <li data-filtertext="enchantment white" ><a href="/enchantments/white" data-ajax="false">White Strip Enchantments</a></li>
      <li data-filtertext="enchantment yellow" ><a href="/enchantments/yellow" data-ajax="false">Yellow Strip Enchantments</a></li>
      <li data-filtertext="augustus" ><a href="/about" data-ajax="false">Augustus for King!</a></li>
      <li data-filtertext="battlegames v8" ><a href="/battlegames/" data-ajax="false">V8 Battlegames</a></li>
      <li data-filtertext="battlegames balancing" ><a href="/battlegames/#battlegames-balancing" data-ajax="false">Balancing Battlegames</a></li>
      <li data-filtertext="battlegames balancing large teams" ><a href="/battlegames/#battlegames-largeteams" data-ajax="false">Balancing Large Teams</a></li>
      <li data-filtertext="battlegames balancing" ><a href="/battlegames/#battlegames-otheroptions" data-ajax="false">Other Balancing Options</a></li>
      <li data-filtertext="battlegames building creating" ><a href="/battlegames/#battlegames-building" data-ajax="false">Building V8 Battlegames</a></li>
      <li data-filtertext="charge incant" ><a href="/spells/definitions#charge" data-ajax="false">Charge Incant</a></li>
      <li data-filtertext="magic definitions school chant engulfing meta range resistant arrows specialty traits archetypes" ><a href="/spells/definitions" data-ajax="false">Magic Definitions</a></li>
      <li data-filtertext="magic easy abilities" ><a href="/spells/#magic-made-easy" data-ajax="false">Magic Made Easy</a></li>
      <li data-filtertext="magic spells definitions kill trigger" ><a href="/spells/definitions#killtrigger" data-ajax="false">Kill Trigger</a></li>
      <li data-filtertext="magic spells definitions wound trigger" ><a href="/spells/definitions#woundtrigger" data-ajax="false">Wound Trigger</a></li>
      <% end %>
    </ul>
  </div>
</div>
<!-- /panel -->
