	<!-- TODO: This should become an external panel so we can add input to markup (unique ID) -->
    <div data-role="panel" class="jqm-search-panel" data-position="right" data-display="overlay" data-theme="a" >
		<div class="jqm-search">
			<ul class="jqm-list" data-filter-placeholder="Search Easygard..." data-filter-reveal="true">
<% if defined?(loaded) && loaded=='false' %>
<li data-filtertext="home page" data-icon="home"><a href="/">Home</a></li>
<li data-filtertext="spells abilities magic ball enchantment" data-icon="bullets"><a href="/spells/" data-ajax="false">Spells & Abilities</a></li>
<li data-filtertext="classes caster melee knight" data-icon="bullets"><a href="/classes/" data-ajax="false">Classes</a></li>
<li data-filtertext="wizard caster class"><a href="/classes/#Wizard" data-ajax="false">Wizard</a></li>
<li data-filtertext="druid caster class"><a href="/classes/#Druid" data-ajax="false">Druid</a></li>
<li data-filtertext="bard caster class"><a href="/classes/#Bard" data-ajax="false">Bard</a></li>
<li data-filtertext="healer caster class"><a href="/classes/#Healer" data-ajax="false">Healer</a></li>
<li data-filtertext="archer melee class"><a href="/classes/#Archer" data-ajax="false">Wizard</a></li>
<li data-filtertext="assassin melee class"><a href="/classes/#Assassin" data-ajax="false">Wizard</a></li>
<li data-filtertext="barbarian melee class"><a href="/classes/#Barbarian" data-ajax="false">Wizard</a></li>
<li data-filtertext="monk melee class"><a href="/classes/#Monk" data-ajax="false">Wizard</a></li>
<li data-filtertext="scout melee class"><a href="/classes/#Scout" data-ajax="false">Wizard</a></li>
<li data-filtertext="warrior melee class"><a href="/classes/#Warrior" data-ajax="false">Wizard</a></li>
<li data-filtertext="paladin melee knightclass"><a href="/classes/#Paladin" data-ajax="false">Paladin</a></li>
<li data-filtertext="anti paladin melee knightclass"><a href="/classes/#AntiPaladin" data-ajax="false">Anti-Paladin</a></li>
<li data-filtertext="about contact info author future suggestions" data-icon="info"><a href="/about/" data-ajax="false">About</a></p>
<li data-filtertext="armor synthetic cloth leather chainmail butted plate scale lamellar brigandine rating" ><a href="/armor/" data-ajax="false"></a>Armor</p>
<li data-filtertext="combat" ><a href="/combat/" data-ajax="false">Combat</a></p>
<li data-filtertext="hit location arm leg torso " ><a href="/combat/#HitLocations" data-ajax="false">Hit Locations</a></p>
<li data-filtertext="inflicting wounds slash stab graze cut push" ><a href="/combat/#InflictingWounds" data-ajax="false">Inflicting Wounds</a></p>
<li data-filtertext="death wound torso retrieve interfere target willing" ><a href="/combat/#Deaths" data-ajax="false">Deaths</a></p>
<li data-filtertext="reeves decision responsibility rules" ><a href="reeves/#ReevingMadeEasy" data-ajax="false">Reeving Made Easy</a></p>
<li data-filtertext="reeves rules equipment check weapon armor shield safety" ><a href="/reeves/#EquipmentChecking" data-ajax="false">Equipment Checking</a></p>
<li data-filtertext="magic sashes strips length width" ><a href="/reeves/#SashesStrips" data-ajax="false">Sashes and Strips</a></p>
<li data-filtertext="shield construction" ><a href="/shields/" data-ajax="false">Shields</a></p>
<li data-filtertext="states abilities magic special effects ball verbal immunity" ><a href="states/#StatesMadeEasy" data-ajax="false">States Made Easy</a></p>
<li data-filtertext="" ><a href="" data-ajax="false"></a></p>
<% end %>
			</ul>
		</div>
	</div><!-- /panel -->