<div data-role="popup" id="easygard-updated-popup" class="ui-content" style="max-width:280px">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
	<p>Easygard was <a href="/changes/" data-ajax="false">updated</a>. Refresh this page and you'll now have the latest version available offline</p>
</div>