<div data-role="page" class="jqm-demos jqm-home">

<%= erb :'sections/updated' %>
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3 id="title">Easygard Mobile Amtgard</h3>
                <p>This web application is a subset of the Amtgard V8 rulebook (rules) optimized for viewing on mobile devices. Comments and suggestions are welcome.</p>
                <p>This application is <b>No Longer offline capable</b>! The browsers removed the app cache functionality that was used. Investigating other options.</p>
                <p>The content of this application is provided by the <a href="https://www.amtgard.com/documents">Amtgard V8 rules of play documents</a> and the implementation of the mobile application is done by <a href="mailto:kismet@felfrost.ca?Subject=Easygard.ca Inquiry" target="_top">Lord Kismet of Felfrost</a>.  There is no intent to derive monetary value from this application and the source can be found at the <a href="https://github.com/kenwalker/easygard.ca">Github repository for Easygard.ca</a>.</p>
                <p>Current Amtgard Rules of Play from the AICOM meeting of 2024 however the Rulebook edition has not been finalized and changes may be coming. Please contact me if something is missing or looks incorrect</p>
    			<h3>Bugs/Suggestions</h3>
    			<p>Please report any bugs or suggestions to the <a href="mailto:kismet@felfrost.ca?Subject=Easygard.ca bug" target="_top">kismet@felfrost.ca</a> email address</p>
                <p>You may be interested in some of my other Amtgard apps and utilities:
                <ul>
                    <li><a href="https://www.facebook.com/mORKmobile/">mORK</a> - a mobile app for player stats and easy entering of credits</li>
                    <li><a href="https://kenwalker.github.io/jsork/index.html">jsork</a> - JavaScript Amtgard ORK APIs and numerous reports</li>
                    <li><a href="https://m.facebook.com/amtquest/">AmtQuest Chest</a> - A physical box with much tech trying to travel the lands of Amtgard</li>
                </ul>
                <h3>Recent Changes</h3>
                <p>Check the <a href="/changes/" data-ajax="false">recent changes</a> page</p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div><!-- /page -->

