<div data-role="page" class="jqm-demos jqm-home">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Easygard Mobile</h3>
                <p>This web application is a form of the Amtgard rulebook that is optimized for viewing on mobile devices. Comments and suggestions are welcome. The intention is to make this an easy resource for those on field trying to look something up quickly.</p>
                <p>This web application is very new and is under rapid development.  Many sections are not even implemented yet.  The goal is for this application to be offline capable meaning that without an internet connection, you can still use the application.  Many features such as spell list creation will be added in the future.  The initial goal is to get a searchable, easy to use application with the basics up and running first.</p>
                <p>The content of this application is provided by the Amtgard rules of play and the implementation of the mobile application is done by <a href="mailto:kismet@felfrost.ca?Subject=Easygard.ca Inquiry" target="_top">Lord Kismet of Felfrost</a>.  There is no intent to derive monetary value from this application and the source can be found at the <a href="https://github.com/kenwalker/easygard.ca">Github repository for Easygard.ca.</a></p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div><!-- /page -->

