<div data-role="page" class="jqm-demos jqm-home">

<%= erb :'sections/updated' %>
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Easygard Mobile Amtgard</h3>
                <p>This web application is a form of the Amtgard V8 rulebook that is optimized for viewing on mobile devices. Comments and suggestions are welcome</p>
                <p>This application is offline capable. If your browser supports it, you should be able to disconnect from the network and still use Easygard! If you see any missing pages offline please report it! Many features such as spell list creation will be added in the future.  The initial goal is to get a searchable, easy to use application with the basics up and running first.  The search feature is not fully seeded yet</p>
                <p>The content of this application is provided by the <a href="http://amtgard.com/documents/">Amtgard V8 rules of play PDF</a> and the implementation of the mobile application is done by <a href="mailto:kismet@felfrost.ca?Subject=Easygard.ca Inquiry" target="_top">Lord Kismet of Felfrost</a>.  There is no intent to derive monetary value from this application and the source can be found at the <a href="https://github.com/kenwalker/easygard.ca">Github repository for Easygard.ca</a> and on Twitter <a href="https://twitter.com/easygardca">@easygardca</a></p>
                <p>Thanks to Earl Sir Ausric Blackwolf for compiling the initial list of V8 Battlegames and the great documentation on balancing and building V8 Battlegames</p>
                <p>Thanks to Brandon Reeves for maintaining the common clarifications list</p>
    			<h3>Bugs/Suggestions</h3>
    			<p>Please report any bugs or suggestions to the <a href="mailto:info@easygard.ca?Subject=Easygard.ca bug" target="_top">info@easygard.ca</a> email address</p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div><!-- /page -->

