<div data-role="page" class="jqm-demos jqm-home">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Armor</h3>
    			<p>This section will cover armor types eventually</p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div><!-- /page -->

