<div data-role="page" class="jqm-demos jqm-home">

<%= erb :'sections/updated' %>
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Recent Easygard Changes</h3>
                <p><b>Dec 12, 2015</b></p>
                <p>Added <a href="/battlegamesby/j#jugging" data-ajax="false">Jugging</a> to the list of <a href="/battlegames/" data-ajax="false">V8 Battlegames</a> (<i>thanks for the help Chris Biollo</i>)</p>
                <p><b>November 25, 2015</b></p>
                <p>Updated the <a href="/combat/#CommonClarifications" data-ajax="false">Common Clarifications</a> from the Facebook content</p>
                <p><b>November 23, 2015</b></p>
                <p>Fixed a few broken links</p>
                <p><b>October 27, 2015</b></p>
                <p>Added this changes page to the <a href="/about/" data-ajax="false">About</a> page and the dialog that says Easygard was updated.</p>
                <p><b>October 27, 2015</b></p>
                <p>Added <a href="/combat/#CommonClarifications" data-ajax="false">Common Clarifications</a> section based off of the Facebook <i>Official Amtgard Rules Discussion</i> Group</p>
                <p><b>September 22, 2015</b></p>
                <p>Added two new <a href="/battlegames/" data-ajax="false">V8 Battlegames</a>, <a href="/battlegamesby/o#ogre" data-ajax="false">Ogre</a> and <a href="/battlegamesby/p#planttheflag" data-ajax="false">Plant the Flag</a></p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div><!-- /page -->

