<div data-role="page" class="jqm-demos jqm-home">

<%= erb :'sections/updated' %>
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
          <h3>Recent Easygard Changes</h3>
                <p><b>Sep 12, 2019</b></p>
                <p>Fixed small typo with <a href="/weapons/#Projectiles" data-ajax="false">Javelins</a>. Thanks Derek!</p>
                <p><b>May 5, 2019</b></p>
                <p>Added <a href="/battlegamesby/h#holdtheclock" data-ajax="false">Hold the Clock</a> (thanks Simon Garneau) and <a href="/battlegamesby/m#merlinsball" data-ajax="false">Merlin's Ball</a> (thanks Steven Leblanc)</p>
                <p><b>Mar 29, 2019</b></p>
                <p>Long overdue addition of <a href="/battlegamesby/p#phoenixball" data-ajax="false">Phoenix Ball</a> to the list of Battlegames and added a section on the main page for <a href="/phoenixball/" data-ajax="false">Phoenix Ball</a>. Thanks Tyler Salvador!</p>
                <p><b>Feb 21, 2019</b></p>
                <p>Fixed small typo with <a href="/spells/m#magicballblock" data-ajax="false">Magic Ball Block</a>. Thanks Chase!</p>
                <p><b>Feb 12, 2019</b></p>
                <p>Added HTTPS hosting because Chrome and likely Android were not allowing the app cache access with a non-secure site.</p>
                <p><b>Dec 22, 2018</b></p>
                <p>Added <a href="/battlegamesby/m#magicarmada" data-ajax="false">Magic Armada</a> to the <a href="/battlegames/" data-ajax="false">Amtgard V8 Battlegames</a> - Thanks Nathaniel Wright!</p>
                <p><b>Oct 26, 2018</b></p>
                <P>Small typo submitted by Derek Sullivan</P>
                <p><b>Aug 29, 2018</b></p>
                <p>Added <a href="/battlegamesby/u#ultimatechakram" data-ajax="false">Ultimate Chakram</a> to the <a href="/battlegames/" data-ajax="false">Amtgard V8 Battlegames</a> - Thanks Niall Rook!</p>
                <p>Tidied up <a href="/states/" data-ajax="false">States</a> so you can more easily return to all states</p>
                <p><b>Jul 24, 2018</b></p>
                <P><a href="/spells/t#truegrit" data-ajax="false">True Grit</a> level error submitted by Derek Sullivan</P>
                <p><b>Dec 7, 2017</b></p>
                <P>A few typos submitted by Joseph "Banos" Ezzo and Rykin Leingod</P>
                <p><b>Oct 31, 2017</b></p>
                <P>Applied the Salty to Spooky change log from the <a href="http://amtgard.com/documents/">Amtgard.com Documents</a> page</P>
                <p><b>Jun 22, 2017</b></p>
                <P>Slight change to <a href="/spells/s#shove" data-ajax="false">Shove</a> found by Buddy Wagner, thanks!</P>
                <p><b>Jun 16, 2017</b></p>
                <p>Added <a href="/battlegamesby/k#kingarthersquidditch" data-ajax="false">King Arthur’s Quidditch</a> to the <a href="/battlegames/" data-ajax="false">Amtgard V8 Battlegames</a> - Thanks Steven Leblanc!</p>

                <p><b>April 17, 2017</b></p>
                <p>Small error in <a href="/classes/#Wizard" data-ajax="false">Wizard</a> wounding school. Thanks Jacob for reporting it!</p>
                <p><b>Mar 20, 2017</b></p>
                <p>I think I'm caught up with all the updates provided in the change log for the latest V8 Rules.  Removed from Easygard are two separate areas I had for the growing change list.  This has been put into the actual rules docs so I have that here as well in <a href="/combat/#CommonMisconceptions" data-ajax="false">Common Misconceptions</a>. Please be on the lookout for any typos or errors in my transcribing.</p>
                <p><b>Mar 15, 2017</b></p>
                <p>There's a new release of the Official Amtgard rules available.  I will try to get through any changes I see as fast as possible.  Feel free to help and <a href="/about/" data-ajax="false">email</a> me anything you notice is different. Expect frequent updates but not necessarily to this message until it's done.</p>
                <p><b>Feb 2, 2017</b></p>
                <p>Added <a href="/battlegamesby/d#dontwakegrampa" data-ajax="false">Don't Wake Grampa</a> to the <a href="/battlegames/" data-ajax="false">Amtgard V8 Battlegames</a> - Thanks Steve Stanganelli!</p>
                <p><b>December 18, 2016</b></p>
                <p>Added <a href="/battlegamesby/t#trollball" data-ajax="false">Trollball</a> to the <a href="/battlegames/" data-ajax="false">Amtgard V8 Battlegames</a> - Thanks Odereus!</p>
                <p><b>August 28, 2016</b></p>
                <p>Added <a href="/battlegamesby/t#thethreebrothers" data-ajax="false">The Three Brothers</a> and <a href="/battlegamesby/b#barrage" data-ajax="false">Barrage</a> to the <a href="/battlegames/" data-ajax="false">Amtgard V8 Battlegames</a> - Thanks Michael Mayer!</p>
                <p>Updated rules passed at Clan including <a href="/spells/c#circleofprotection" data-ajax="false">Circle of Protection</a> not needing enchantment strip, <a href="/spells/b#brutalstrike" data-ajax="false">Brutal Strike</a> wording changes and making it (ex) vs. magical, <a href="/states/#StatesDefined" data-ajax="false">States Defined</a> to include ruling that state ending must be announced, <a href="/shields/" data-ajax="false">Shields</a> removed item 10 stating Non-round shields may not be wider than 2’.</p>
                <p><b>July 19, 2016</b></p>
                <p>Added <a href="/battlegamesby/c#capturethecapturer" data-ajax="false">Capture the capturer</a>, <a href="/battlegamesby/c#capturetheflaghoardervariant" data-ajax="false">Capture the Flag - Hoarder Variant</a> and <a href="/battlegamesby/k#knockoverthecone" data-ajax="false">Knock over the cone</a> to the <a href="/battlegames/" data-ajax="false">Amtgard V8 Battlegames</a> - Thanks Nathan Pierce!</p>
                <p><b>May 14, 2016</b></p>
                <p>Updated the <a href="/combat/#CommonClarifications" data-ajax="false">Common Clarifications</a> from the Facebook content and the <a href="/combat/#GeneralClarifications" data-ajax="false">General Clarifications</a> from the ESAM post</p>
                <p><b>April 25, 2016</b></p>
                <p>Added a <a href="/combat/#GeneralClarifications" data-ajax="false">General Clarifications</a> compiled by Myles Rousselle</p>
                <p>Updated the <a href="/combat/#CommonClarifications" data-ajax="false">Common Clarifications</a> from the Facebook content</p>
                <p><b>March 9, 2016</b></p>
                <p>Updated the <a href="/combat/#CommonClarifications" data-ajax="false">Common Clarifications</a> from the Facebook content</p>
                <p><b>Jan 21, 2016</b></p>
                <p>Updated the <a href="/combat/#CommonClarifications" data-ajax="false">Common Clarifications</a> from the Facebook content</p>
                <p><b>Jan 5, 2016</b></p>
                <p>Added Zack Morris style to the <a href="/battlegames/#battlegames-otheroptions" data-ajax="false">Other Balancing options</a> for Battlegames.</p>
                <p><b>Jan 3, 2016</b></p>
                <p>Totally revamped <a href="/spells/" data-ajax="false">Spells and Abilities</a> page! Now with <a href="/spells/#magic-made-easy" data-ajax="false">Magic made easy</a> and <a href="/spells/definitions" data-ajax="false">Magic Definitions</a> sections. Also includes filters for various spells.</p>
                <p>Added Battlegames <a href="/battlegamesby/h#hungerrush" data-ajax="false">Hunger Rush</a> (submitted by Steve Stanganelli). Added <a href="/battlegamesby/t#thepurge" data-ajax="false">The Purge</a>, <a href="/battlegamesby/f#feedthetrolls" data-ajax="false">Feed the Trolls</a>, <a href="/battlegamesby/h#hoardofthehydra" data-ajax="false">Hoard of the Hydra</a>, <a href="/battlegamesby/i#islandofdread" data-ajax="false">Island of Dread</a> and <a href="/battlegamesby/m#mylifefortheswarm" data-ajax="false">My Life for the Swarm</a> (submitted by Nathan Pierce)</p>
                <p><b>Dec 12, 2015</b></p>
                <p>Added <a href="/battlegamesby/j#jugging" data-ajax="false">Jugging</a> to the list of <a href="/battlegames/" data-ajax="false">V8 Battlegames</a> (<i>thanks for the help Chris Biollo</i>)</p>
                <p><b>November 25, 2015</b></p>
                <p>Updated the <a href="/combat/#CommonClarifications" data-ajax="false">Common Clarifications</a> from the Facebook content</p>
                <p><b>November 23, 2015</b></p>
                <p>Fixed a few broken links</p>
                <p><b>October 27, 2015</b></p>
                <p>Added this changes page to the <a href="/about/" data-ajax="false">About</a> page and the dialog that says Easygard was updated.</p>
                <p><b>October 27, 2015</b></p>
                <p>Added <a href="/combat/#CommonClarifications" data-ajax="false">Common Clarifications</a> section based off of the Facebook <i>Official Amtgard Rules Discussion</i> Group</p>
                <p><b>September 22, 2015</b></p>
                <p>Added two new <a href="/battlegames/" data-ajax="false">V8 Battlegames</a>, <a href="/battlegamesby/o#ogre" data-ajax="false">Ogre</a> and <a href="/battlegamesby/p#planttheflag" data-ajax="false">Plant the Flag</a></p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div><!-- /page -->

