<div data-role="page" class="jqm-demos jqm-home">

<%= erb :'sections/updated' %>
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Code of Conduct</h3>
            <p>Amtgard strives to maintain a fun, friendly, welcoming environment for mature players. As such the following behaviors are not acceptable and may lead to ban from combat or attending:</p>
            <ol>
            <li>Speech that would cause a reasonable person to fear for their property or safety</li>
            <li>Physical violence outside of the normal bounds of combat conduct</li>
            <li>Sexual harassment or inappropriate sexual contact</li>
            <li>Theft or willful destruction of other peoples' property</li>
            <li>Repeated unwillingness to follow game rules</li>
            <li>Creating a hostile environment detrimental to the enjoyment of the group as a whole. This includes engaging in online or in person harassment</li>
            <li>Violating the Amtgard Youth Policy, which can be found at www.amtgard.com/documents or in the Annexure at the end of this document</li>
            </ol>
            <p>The Monarch, with the joint agreement of either the Prime Minister or the Guildmaster of Reeves, may ban a player from their group (and subgroups) for any of the reasons including, but not limited to, the list above at their discretion for any amount of time they feel appropriate. Any Monarch, with the joint agreement of either the Prime Minister or the Guildmaster of Reeves, may end a ban on a player at any time with the exception that a park Monarch may not overturn a ban instituted at the Kingdom level.</p>
            <p>Any Kingdom level ban placed by a player’s Kingdom of residence or Kingdom of physical residence for items 1 through 5 and 7 is automatically extended to all Kingdoms and their Subgroups. For purposes of this section “Kingdom of residence” means the Kingdom where a player’s records are maintained and “Kingdom of physical residence” means the Kingdom in which the player has obtained the majority of their credits in the past three months. It is the responsibility of the Monarch enacting the ban to notify the Kingdoms using the Circle of Monarchs communication tools. Any Kingdom Monarch, with the joint agreement of either the Prime Minister or the Guildmaster of Reeves, may exempt their Kingdom from this extension by choosing to assume responsibility for the banned player and allowing the banned player to engage in Amtgard activities within their Kingdom and Subgroups, except that a Monarch may not exempt their Kingdom from a ban under item 3. In making an exemption, that Monarch is stating that they believe the following is true:</p>
            <ol>
            <li>The banned player adds no additional threat to the safety of the players in this Kingdom or its Subgroups</li>
            <li>The presence of the banned player will not create a hostile or unwelcoming environment for other players attending functions of this Kingdom or its Subgroups related to the nature of the ban</li>
            <li>There is a compelling reason that having the banned player participate in the functions of this Kingdom and its Subgroups is beneficial to the functioning of those same groups</li>
            </ol>
            <p>No person who has ever been convicted of a felony level sexual offense in any jurisdiction of the United States may participate in any Amtgard function at any time. The same is true for equivalent offenses in other countries</p>
            <p>No Person who is currently listed on a sexual offender registry for any jurisdiction within the United States based upon conviction of a crime may participate in any Amtgard function at any time. The same is true for equivalent public registries in other countries</p>
	</div><!-- /footer -->

	</div><!-- /content -->

</div><!-- /page -->

