<div data-role="page" class="jqm-demos jqm-home">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Combat</h3>
                <p>The combat section will cover hit locations among other things</p>
            </div>

	</div><!-- /footer -->

	</div><!-- /content -->

</div><!-- /page -->

