<div data-role="page" class="jqm-demos jqm-home">

<%= erb :'sections/updated' %>
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel', locals: {loaded: 'false'} %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
            <h3>October 2024 AICOM Update</h3>
            <p>Amtgard Playtest Guide V8.6.2 "Sappy Two". Please <a href="about/" data-ajax="false">contact me</a> if something is missing or looks incorrect</p>
    			<h3>Looking for...</h3>
                <p><a href="armor/" data-ajax="false">Armor</a></p>
                <p><a href="battlegames/" data-ajax="false">Battlegames</b></a></p>
                <p><a href="classes/" data-ajax="false">Classes</a></p>
                <p><a href="combat/" data-ajax="false">Combat</a></p>
                <p><a href="enchantments/" data-ajax="false">Enchantments</a></p>
                <p><a href="reeves/" data-ajax="false">Reeves</a></p>
                <p><a href="shields/" data-ajax="false">Shields</a></p>
    			<p><a href="spells/" data-ajax="false">Spells & Abilities</a></p>
    			<p><a href="states/" data-ajax="false">States</a></p>
                <p><a href="weapons/" data-ajax="false">Weapons</a></p>
    		</div>
    		<div class="jqm-block-content">
          <h3>Other</h3>
            <p><a href="phoenixball/" data-ajax="false">Phoenix Ball</a></p>
            <p><a href="codeofconduct/" data-ajax="false">Code of Conduct</a></p>
	    			<p><a href="about/" data-ajax="false">About</a></p>
    		</div>
	</div><!-- /footer -->

	</div><!-- /content -->

</div><!-- /page -->

