<div data-role="page" class="jqm-demos jqm-home">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel' %>

	<div role="main" class="ui-content">
            <div class="jqm-block-content">
                <p>Easily look up Spells, Abilities and other Amtgard info while at field on a mobile device.</p>
                <p>Navigate sections using the top left icon or search for common terms in the top right search bar.</p>
            </div>

    		<div class="jqm-block-content">
    			<h3>Looking for...</h3>
                <p><a href="armor/" data-ajax="false">Armor</a></p>
                <p><a href="classes/" data-ajax="false">Classes</a></p>
                <p><a href="combat/" data-ajax="false">Combat</a></p>
    			<p><a href="spells/" data-ajax="false">Spells & Abilities</a></p>
    			<p><a href="states/" data-ajax="false">States</a></p>
                <p><a href="weapons/" data-ajax="false">Weapons</a></p>
    		</div>
    		<div class="jqm-block-content">
    			<h3>Other</h3>
	    			<p><a href="about/" data-ajax="false">About</a></p>
    		</div>
	</div><!-- /footer -->

	</div><!-- /content -->

</div><!-- /page -->

