<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Easygard Mobile Amtgard</title>
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="stylesheet" href="/lib/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="/lib/jqm-demos.css">
	<script src="/lib/jquery.min.js"></script>
	<script src="/lib/index.js"></script>
	<script src="/lib/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>