<div data-role="page" class="jqm-demos jqm-home">

<%= erb :'sections/updated' %>
<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel' %>

	<div role="main" class="ui-content">
    		<div class="jqm-block-content">
    			<h3>Phoenix Ball</h3>
            <p>The goal of the Phoenix League is to promote the pursuit of teamwork, strategic thinking, leadership skills, and overall mastery of the rules within the Amtgard LARP. It will work to encourage class knowledge and battle-gaming prowess by establishing incentives, discussion and fostering a positive learning environment.  We will strive to achieve these objectives through the creation and support of this ruleset for competitive, organized play. Our goal is to provide a controlled setting for players and teams to visibly demonstrate their expertise.</p>
    			<h3>Official sites and information</h3>
          <p>Easygard does not contain the rules to Phoenix Ball.  It is best to check out either the web site or discuss on Facebook.</p>
          <ul>
            <li><a href="http://phoenixleague.net">Phoenix League Web Site</a></li>
            <li><a href="https://www.facebook.com/groups/amtgardphoenixleague">Phoenix League Facebook Page</a></li>
          </ul>
	</div><!-- /footer -->

	</div><!-- /content -->

</div><!-- /page -->

