<div data-role="page" class="jqm-demos jqm-home" id="spells-abilities">

<%= erb :'sections/header' %>
<%= erb :'sections/nav-panel' %>
<%= erb :'sections/search-panel' %>

         <div role="main" class="ui-content">
            <ul data-role="listview" data-filter="true" data-autodividers="true" data-filter-placeholder="Search magic and abilities" data-inset="true" data-icon="false">
               <li><a href="/spells-a/#abeyance" data-ajax="false">Abeyance *</a></li>
               <li><a href="#">Adaptive Blessing</a></li>
               <li><a href="#">Adaptive Protection</a></li>
               <li><a href="#">Adrenaline</a></li>
               <li><a href="#">Agoraphobia</a></li>
               <li><a href="#">Amplification</a></li>
               <li><a href="#">Ambulant</a></li>
               <li><a href="#">Ancestral Armor</a></li>
               <li><a href="#">Assassinate</a></li>
               <li><a href="#">Astral Intervention</a></li>
               <li><a href="#">Attuned</a></li>
               <li><a href="#">Avatar of Nature</a></li>
               <li><a href="#">Awe</a></li>
               <li><a href="/spells-a/#banish" data-ajax="false">Banish *</a></li>
               <li><a href="#">Barkskin</a></li>
               <li><a href="#">Battlefield Triage</a></li>
               <li><a href="#">Battlemage</a></li>
               <li><a href="#">Bear Strength</a></li>
               <li><a href="#">Berserk</a></li>
               <li><a href="#">Blessed Aura</a></li>
               <li><a href="#">Blessing Against Harm</a></li>
               <li><a href="#">Blessing Against Wounds</a></li>
               <li><a href="#">Blink</a></li>
               <li><a href="#">Blood and Thunder</a></li>
               <li><a href="#">Break Concentration</a></li>
               <li><a href="#">Contagion</a></li>
               <li><a href="#flameblade">Flame Blade *</a></li>
               <li><a href="#forcebolt">Force Bolt *</a><li>
               <li><a href="#">Icy Blast</a></li>
            </ul>
         </div>
         <!-- /content -->

</div><!-- /page -->

